.question{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#box{
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 550px;
    height: 500px;
    margin: auto;
    border-color: #282A35;
    background-color:linen
}

input[type="password"]{
    margin-bottom: 40%;
    width: 25%;
    height: 25px;
    border-color: #CFFFF6;
    border-style: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
input[type="submit"]{
    width: 25%;
    height: 50px;
    border: 3px solid;
    border-color: black;
    border-radius: 5px;
    font-size: 16px;
    background-color: #282A35;
    color: white;
}
    
input[type="submit"]:hover{
    color: #FFFFFF;
    background-color: brown;

}

header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
body{
    background-color: antiquewhite;

}
