*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #736372;

    display: grid;
    gap: 20px;

    padding: 10px;
}

header{
    text-align: center;
    color: #DCEED1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    padding: 20px;
}

.doc-container{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.doc-container > div > i{
    font-size: 200px;
    padding: 10px;
}